In [ ]:
from datetime import datetime
from google.colab import files
from datetime import datetime
from google.colab import drive
import pandas as pd
import time
import json
import pickle
import glob
import os

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/tweetsDataset/tweets.csv',sep=',',names=['ID','Tweet','Class'])

In [ ]:
df.sample(20)

                       ID  ...         Class
49872  473964446344179713  ...     happiness
858    516191772092166144  ...         anger
41352  697046399142268928  ...     happiness
53656  266263753606176768  ...     happiness
55095  397824975790698497  ...     happiness
85750  873366535334756352  ...         trust
69344  569264217439768576  ...       sadness
79482  895715834798252032  ...      surprise
91902  599648500054261760  ...         trust
73679  512173595963817984  ...      surprise
23484  721832344668254209  ...          fear
24872  629691151080030208  ...          fear
16481  825711696631230464  ...          fear
90333  877844231280365568  ...         trust
19470  810464453603065856  ...          fear
82228  880375234960003072  ...         trust
13591  875438624560615426  ...  anticipation
21572  546050813098209280  ...          fear
89355               29719  ...         trust
14028  379046032715567105  ...  anticipation

[20 rows x 3 columns]

In [ ]:
df.describe()

                 ID
count  9.483200e+04
mean   5.528763e+17
std    2.865876e+17
min    2.500000e+01
25%    4.130461e+17
50%    6.187995e+17
75%    7.782313e+17
max    8.957310e+17

In [ ]:
print('Anger:',len(df[df["Class"] == 'anger']))
print('Trust:',len(df[df["Class"] == 'trust']))
print('Happiness:',len(df[df["Class"] == 'happiness']))
print('Sadness:',len(df[df["Class"] == 'sadness']))
print('Fear:',len(df[df["Class"] == 'fear']))
print('Anticipation:',len(df[df["Class"] == 'anticipation']))
print('Disgust:',len(df[df["Class"] == 'disgust']))
print('Surprise:',len(df[df["Class"] == 'surprise']))

Anger: 1651
Trust: 14716
Happiness: 27683
Sadness: 14816
Fear: 13920
Anticipation: 13302
Disgust: 1023
Surprise: 7721